<nav class="header-nav">
  <div class="logo" routerLInk=""></div>
  <ul class="header-list">
    <li class="header-item">
      <a class="header-link" routerLink="">{{ 'label.recommendation' | translate | capitalize }}</a>
    </li>
    <li class="header-item">
      <a class="header-link" routerLink="">{{ 'label.arrangement' | translate | capitalize }}</a>
    </li>
    <li class="header-item">
      <a class="header-link" routerLink="">{{ 'label.' | translate }}</a>
    </li>
  </ul>
  <div class="profile-nav"></div>
</nav>
