<nav class="header-nav">
  <ul class="header-list">
    <li class="header-item" *ngIf="isAuthenticated && role === 'Administrator'">
      <a class="header-link" routerLink="/manager/user-list">{{ 'label.all-users' | translate }}</a>
    </li>
    <li class="header-item" *ngIf="isAuthenticated">
      <a class="header-link" routerLink="/meals">{{ 'label.meals' | translate }}</a>
    </li>
    <li class="header-item" *ngIf="!isAuthenticated">
      <a class="header-link" routerLink="/auth">{{ 'label.authentication' | translate }}</a>
    </li>
    <li class="header-item" *ngIf="isAuthenticated">
      <a class="header-link" routerLink="/profile/calories">{{ 'label.profile' | translate }}</a>
    </li>
  </ul>
</nav>

<button class="auth-button" *ngIf="isAuthenticated" (click)="onSignOut()">
  {{ 'label.signOut' | translate }}
</button>
