<nav class="header-nav">
  <div class="logo" (click)="onLogoClicked()"></div>
  <ul class="header-list">
    <li class="header-item">
      <a class="header-link" routerLink="/recommendations">
        {{ 'label.recommendation' | translate | capitalize }}
      </a>
    </li>
    <li class="header-item">
      <a class="header-link" routerLink="/arrangements">
        {{ 'label.arrangement' | translate | capitalize }}
      </a>
    </li>
    <li class="header-item">
      <a class="header-link" routerLink="/agencies">
        {{ 'label.agencies' | translate | capitalize }}
      </a>
    </li>
  </ul>
  <div class="profile-nav">
    <button class="profile-button" mat-button [matMenuTriggerFor]="menu">
      <mat-icon class="menu-icon">menu</mat-icon>
      <div class="profile-icon"></div>
    </button>
    <mat-menu class="profile-menu" #menu="matMenu">
      <button *ngIf="isAuthenticated" class="menu-item" mat-menu-item>Item 1</button>
      <button 
      (click)="onOpenSignInModal()" 
      *ngIf="!isAuthenticated" 
      class="menu-item" mat-menu-item>
        Log In
      </button>
      <button 
      (click)="onOpenSignUpModal()"
      *ngIf="!isAuthenticated" 
      class="menu-item" mat-menu-item>Sign Up</button>
    </mat-menu>
  </div>
</nav>
