@import '/src/styles.scss';

:host {
  height: 80px;
  // TODO: staviti logiku za menjanje padding-a
  padding: var(--full-global-padding);
  display: flex;
  align-items: center;
  justify-content: center;
  // TODO: intersection observer i eventualno height
  position: sticky;
  top: 0;
  left: 0;
  flex-wrap: wrap;
  gap: 20px;
  box-shadow: 0 0 10px 0px rgba(133, 133, 133, 0.5);
  z-index: 20;

  @include respond(phone) {
    padding-top: 15px;
    height: auto;
  }
}

.small-global-padding {
  padding: var(--small-global-padding);
}

.full-global-padding {
  padding: var(--full-global-padding);
}

.header-nav {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: space-between;
}

.logo {
  cursor: pointer;
  height: 100%;
  width: 110px;
  background-image: url('/assets/icons/Logo.png');
  background-size: cover;
}

.header-list {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid var(--color-primary);
  border-radius: 100px;
  padding: 10px;
}

.header-item {
  list-style: none;
  height: 90%;
  display: flex;
  align-items: center;
  transition: all 0.2s;
}

.header-link {
  text-decoration: none;
  height: 100%;
  cursor: pointer;
  // color: var(--color-primary);
  color: #000;
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
  display: flex;
  align-items: center;
}

// PROFILE
.profile-nav {
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu-icon {
  color: var(--color-primary);
}

.profile-icon {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  background-image: url('/assets/icons/mascot.svg');
  background-size: cover;
  background-position: top;
}

.menu-item {
  border-bottom: 2px solid var(--color-primary);
}
