:host {
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  padding: 10px 20px;
}

.heading-wrapper {
  display: flex;
  justify-content: space-between;
}

.heading {
  font-size: 28px;
  color: var(--color-primary);
}

.close-modal {
  all: unset;
  cursor: pointer;
}

.icon-close {
  color: var(--color-primary);
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 25px;
}

.or-line {
  width: 100%;
  height: 1px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-primary);

  hr {
    width: 100%;
  }
}

::ng-deep .fullscreen-dialog {
}
