<div class="image" 
[style.backgroundImage]="'url(' + '../assets/images/mountain.jpg' + ')'">
</div>
<div class="content-wrapper">
  <div class="heading-wrapper">
    <mat-icon class="icon-location"> location_on</mat-icon>
    <h3 class="arrangement-title">Mount Everest</h3>
  </div>
  <h4 class="agency-title">Turisticka Agencija GO2 Travel</h4>
  <p class="price">Cena od 500e</p>
  <div class="tags-wrapper">
    <div class="tag">Prevoz</div>
    <div class="tag">Plaza</div>
    <div class="tag">Priroda</div>
  </div>
  <div class="offer-wrapper">
    <p class="offer-expiration">Ponuda traje do <b>11.4.2022.</b></p>
    <mat-icon class="icon-clock">access_time</mat-icon>
  </div>
  <mat-icon class="icon-heart icon-heart-unliked">favorite_border</mat-icon>
  <!-- <mat-icon class="icon-heart icon-heart-liked">favorite</mat-icon> -->
</div>
